body{
    padding: 0px;
    margin: 0px;
}

header{
    margin: 0px;
    display: flex;
    border: solid 2px rgb(250, 244, 244);
    width: 99,9%;
    height: 80px;
    flex-direction: row;
    align-items: center;
}

.topo{
    display: flex;
    flex-direction: row;
    
}

.linkmenu{
    text-decoration: none;
    color: black;
}

#menu{
    border-right: solid 2px rgb(250, 244, 244);
    padding-right: 30px;
    padding-left: 30px;
}

#assine{
    border-right: solid 2px rgb(250, 244, 244);
    padding-right: 30px;
    padding-left: 30px;
}

#logo{
    margin-left: 300px;
    margin-right: 350px;
}

#conta_globo{
    border-right: solid 2px rgb(250, 244, 244);
    padding-right: 30px;
    padding-left: 10px;
}

#busca{
    margin-left: 30px;
}